<!DOCTYPE html>
<html>
    <head>
    <title>mathomastech</title>
    <link rel="shortcut icon" type="image/x-icon" href="/icons/dragonfavicon.ico">
	<link rel="stylesheet" href="/css/StyleSheetMain.css">
    <link rel="stylesheet" href="/css/lightbox.css"/>
    <link rel="stylesheet" href="/css/cardLayout/cardLayout.css"/>
    <script src="/js/jquery-1.10.2.min.js"></script>
    <script src="/js/lightbox-2.6.min.js"></script>
    </head>
    <body>
    <header>
	<div class="nav">
        <ul>
            <li><a href="/" title="Home">Home</a></li>
            <li><a href="/Resume" title="Resume">Resume</a></li>
            <li><a href="/Projects" title="Projects">Projects</a></li>
            <li><a href="/Blog" title="Blog">Blog</a></li>
	<!--	<li><a href="/Contact" title="Contact">Contact</a></li>  -->   
	    </ul>
    </div>
    </header>
        <div class="wrapper">
            <div class="container">
                <div class="site">
                    <div class="mainHeader">
                        {{ content }}  
                    </div>
                    <aside>
                        <ul class="links">
                            <li>
                                <a href="mailto:mathomastech@gmail.com?Subject=Contact%20From%20Personal%20Site" target="_top">
                                <img src="/icons/gmailcracked.png" alt="Email" title="Email"/></a>
                            </li>
                            <li>
                                <a href="https://plus.google.com/u/0/103260909450809151378/about" target="_blank">
                                <img src="/icons/g+cracked.png" alt="GooglePlus" title="Google+"/></a>
                            </li>
                            <li>
                                <a href="https://twitter.com/mathomastech" target="_blank">
                                <img src="/icons/twittercracked.png" alt="Twitter" title="Twitter"/></a>
                            </li>
                            <li>
                                <a href="https://github.com/mathomastech" target="_blank">
                                <img src="/icons/githubcracked.png" alt="Github" title="Github"/></a>
                            </li>
<!--                            <li>
                                <a href="https://wiki.ubuntu.com/mathomastech" target="_blank">
                                <img src="/icons/UbuntuCracked.png" alt="Ubuntu Wiki" title="Ubuntu Wiki"/></a>
                            </li>
                            <li>
                                <a href="http://www.linkedin.com/in/mathomastech" target="_blank">
                                <img src="/icons/linkedincracked.png" alt="LinkedIn" title="LinkedIn"/></a>
                            </li>
                        -->
                            <li>
                                <a href="http://steamcommunity.com/id/Sniper_Zero/" target="_blank">
                                <img src="/icons/SteamCracked.png" alt="Steam" title="Steam"/></a>
                            </li>
                        </ul>
                    </aside> 
                </div>
            </div> <!-- /container -->
        </div>
    <div 
        class="push">
    </div>
</html>
