<!DOCTYPE html>
<html>
    <head>
    <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico">
	<link rel="stylesheet" href="/css/StyleSheetMain.css">
    </head>
    <body>
    <header>	
	<div class="Nav">
        <ul>
            <li><a href="/" title="Home">Home</a></li>
            <li><a href="/Resume" title="Resume">Resume</a></li>
            <li><a href="/Projects" title="Projects">Projects</a></li>
            <li><a href="/Blog" title="Blog">Blog</a></li>
	<!--	<li><a href="/Contact" title="Contact">Contact</a></li>  -->   
	    </ul>
    </div>
    </header>
        <div class="container">
          <div class="site">
            <div class="header">

                {{ content }}

            </div>
          </div>
        </div> <!-- /container -->

    <footer class='links'>
        <a href="mailto:mathomastech@gmail.com?Subject=Contact%20From%20Personal%20Site" target="_top">
        E-mail</a>

        <a href="https://plus.google.com/u/0/103260909450809151378/about" target="_blank">
        Google+</a>

        <a href="https://twitter.com/mathomastech" target="_blank">
        Twitter</a>
    </footer>
</html>
