<!DOCTYPE html>
<html>
    <head>
        <title>mthx</title>
        <link rel="shortcut icon" type="image/x-icon" href="/icons/dragonfavicon.ico">
	    <link rel="stylesheet" href="/css/StyleSheetMain.css">
        <link rel="stylesheet" href="/css/lightbox.css"/>
        <link rel="stylesheet" href="/css/card/cardLayout.css"/>
        <script src="/js/jquery-1.10.2.min.js"></script>
        <script src="/js/lightbox-2.6.min.js"></script>
	<meta name="viewport" content="initial-scale=1">
    </head>
    <body>
        <header>
	        <div class="nav">
                <ul>
                    <li><a href="/" title="Home">Home</a></li>
                    <li><a href="/resume" title="Resume">Resume</a></li>
                    <li><a href="/projects" title="Projects">Projects</a></li>
                    <li><a href="/blog" title="Blog">Blog</a></li>
	        <!--	<li><a href="/Contact" title="Contact">Contact</a></li>  -->   
	            </ul>
            </div>
        </header>
        <div class="wrapper">
            <div class="container">
                <div class="site">
                    <div class="mainHeader">
                        {{ content }}  
                    </div>
                    <aside>
                        <ul class="links">
                            <li>
                                <a href="mailto:mathomastech@gmail.com?Subject=Contact%20From%20Personal%20Site" target="_top">
                                <img src="/icons/gmailcracked.png" alt="Email" title="Email"/></a>
                            </li>
                            <li>
                                <a href="https://plus.google.com/u/0/103260909450809151378/about" target="_blank">
                                <img src="/icons/g+cracked.png" alt="GooglePlus" title="Google+"/></a>
                            </li>
                            <li>
                                <a href="https://twitter.com/mthx_" target="_blank">
                                <img src="/icons/twittercracked.png" alt="Twitter" title="Twitter"/></a>
                            </li>
                            <li>
                                <a href="https://github.com/mthax" target="_blank">
                                <img src="/icons/githubcracked.png" alt="Github" title="Github"/></a>
                            </li>
                            <li>
                                <a href="http://steamcommunity.com/id/Sniper_Zero/" target="_blank">
                                <img src="/icons/SteamCracked.png" alt="Steam" title="Steam"/></a>
                            </li>
                            <br>
                            <li>
                                <a href="http://www.gnome.org/friends/" target="_blank">
                                <img src="https://static.gnome.org/friends/banners/fog-88x32.png" alt="Become a Friend of GNOME" border="0"/></a>
                            </li>
                        </ul>
                    </aside> 
                </div>
            </div> <!-- /container -->
        </div> <!-- /wrapper -->
        <div class="push">
        </div>
    </body>
</html>
